<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="bio.css">
  
</head>

<body>
   
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <img src="../component/img/person.png" class="profile-image">
            </div>
            <div class="card-body">
                <h2>Nitish <span>19</span></h2>
                <p>India
                </p>
            </div>
            <div class="card-footer">
                <div>
                    <h3>40K</h3>
                    <p>Followers</p>
                </div>
                <div>
                    <h3>203K</h3>
                    <p>Likes</p>
                </div>
                <div>
                    <h3>700</h3>
                    <p>Photos</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>